html {
    background: #f3f2f2;
    color:#2c2f61 ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 100px;
}

p {
    line-height: 1.4em;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212121;
    background: #e1d1b6;
    border: 2px solid #353535;
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;
    padding: 20px;
}

.rounded {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212121;
    background: #e1d1b6;
    border: 2px solid #353535;
    border-radius: 10px; 
    padding: 20px;
}

header h1 {
    font-family: cursive;
    font-size: 36px;
}

header .navigation li {
    display: inline-block;
    margin-right: 20px;
}

.navigation a{
    color:#353535;
    text-decoration: none;
}

.navigation a:hover{
    text-decoration: underline;
}

/* Main*/

.main{
    display: block;
    width: 100%;
    height: auto;
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px;
}

#pitch{
    font-size: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.healthy{
    width: 250px;
    height: auto; 
    border-radius: 10px; 
    margin-right: 20px;
    float: left;
    margin-right: 20px;
}

.flex-container img{
    border-radius: 10px;
    width: 250px;
    height: auto;

}

.mission::after, .sofar::after{
    content:"";
    display: table;
    clear: both;
}

h2{
    border-bottom: 5px double #ccc;
    font-family: cursive;
    margin-bottom: 20px;
    font-size: 30px;
}

.profile{
    width: 250px;
    height: auto; 
    border-radius: 10px; 
    margin: 20px;
    float: right;  
}

.emeraldbay{
    width: 250px;
    height: auto; 
    float: left;
    margin: 20px;
    border-radius: 10px; 
}

.congaree{
    width: 250px;
    height: auto;  
    float: left;
    margin: 20px;
    border-radius: 10px; 
}

.suttonsbay{
    width: 250px;
    height: auto; 
    float: left;
    margin: 20px;
    border-radius: 10px; 
}

.event{
    padding: 10px;
    border-bottom: 5px double #ccc;

}

#events{
    padding:10px;
    display: flex;
    flex-direction: column;
}

h1{
    padding: 10px;
    font-family: cursive;
}

