html{
    background: #f3f2f2;
    color: #264348;
}

header {
    display: flex;
    justify-content: space-between;
    color: #212121;
    background: #61bbcb;
}

.emeraldbay{
    width: 250px;
    height: auto; 
    float: left;
    margin: 20px;
}

.congaree{
    width: 250px;
    height: auto;  
    float: left;
    margin: 20px;
}

.suttonsbay{
    width: 250px;
    height: auto; 
    float: left;
    margin: 20px;
}



.main{
    display: block;
    width: 600px;
    height: auto;
    margin: 0 auto;

}

.event{
    padding: 10px;
    border-bottom: 5px dotted #ccc;
}

#events{
    padding:10px;
    border-top: 5px dotted #ccc;
    display: flex;
    flex-direction: column;
}

.navigation{
    color: #353535;
}

.navigation li {
    display: inline-block;
    justify-content: space-around;
}

.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.healthy{
    width: 250px;
    height: auto; 
    border-radius: 10px; 
    margin-right: 20px;
}

.mission{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 1.5;
}


.plastics{
    width: 250px;
    height: auto; 
    border-radius: 10px; 
    float: right;
    margin-top: 50px;
    margin-left: 10px;
}

.sofar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 1.5;
    margin-top: 50px;
}
